<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./Fornecedor/list.html">
    <title>AV2</title>
</head>
<body>


<header id="header">
    <a id="marca" href="index.html">AvaliaçãoParte2</a>

    <nav id="nav">
        <button aria-label="Abrir Ment" id="buttonMenu" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
            <span id="hamburger"></span>
        </button>
    </nav>
</header>

<div class="section-1 box">
    <h2>AVPart2</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
        

        </div>
    </div>
</div>

</div>

</body>
</html>